h1,h2,h3,h4,h5,h6,p,form,a,span,div,ul,li,ol,dl,dd,dt,body,html,input,lable{ margin:0; padding:0; }
h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{ display:block;}
h1,h2,h3,h4,h5,h6,p,ul,li{ display:block;}
a{ color:#333333; text-decoration:none; font-size:12px;}
a:hover{ color:#ff0000; text-decoration:underline; font-size:12px}
ul,li{ list-style:none}
img{ border:0;}
body{ font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif; background:url(body_bg.gif) repeat-x top #EBE0CF}
.hr{ width:970px; border:1px solid #100000; height:0; overflow:hidden;margin:0; padding:0;}
.input{ border:1px solid #7F9DB9; height:15px; font-size:12px; color:#555555}
.clear{ clear:both;}
.liclear{ clear:both; height:1px;}
.blank10{ clear:both; height:10px; font-size:0; background:#FFFFFF}
.text{ border: 1px solid #BDC8D5; color: #333333; font-size: 12px; height: 23px; line-height: 23px; padding-left: 4px;}
.textarea{ border: 1px solid #BDC8D5; color: #333333; font-size: 12px; line-height:150%; padding: 4px;}
.over{ overflow:hidden}
.clearfix {display: block;} 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.font_red{ color:#FF0000}
.font_cu{ font-weight:bold;}
.font_hui{ color:#555555}
.font_bai{ color:#FFFFFF}
.font_888{ color:#888888}
.h5{ height:5px; clear:both;}
.h10{ height:10px; clear:both;}
.h15{ height:15px; clear:both;}
.h20{ height:20px; clear:both;}
.h25{ height:25px; clear:both;}
.h40{ height:40px; clear:both;}
.left{ float:left}
.right{ float:right}


/*－－－－－－－－－－－width 样式－－－－－－－－－－－－－*/
.w960{ width:960px; margin:0 auto; overflow:hidden;}
.w80{ width:80%;}
.w20{ width:18%; text-align:right}
.w70{ width:70%;}
.w30{ width:28%; text-align:right}
.w85{ width:85%;}
.w15{ width:15%; text-align:right}

/*－－－－－－－－－－－a 样式－－－－－－－－－－－－－*/
.a_tagA a{ font-size:12px; color:#005AB5}
.a_tagA a:hover{ font-size:12px; color:#ff0000;}

.a_tag333 a{ font-size:12px; color:#333333}
.a_tag333 a:hover{ font-size:12px; color:#ff0000;}

.a_tag555 a{ font-size:12px; color:#555555}
.a_tag555 a:hover{ font-size:12px; color:#ff0000;}

.a_tag888 a{ font-size:12px; color:#888888}
.a_tag888 a:hover{ font-size:12px; color:#ff0000;}

.a_tagff a{ font-size:12px; color:#ff0000}
.a_tagff a:hover{ font-size:12px; color:#ff0000; text-decoration:underline}


/*－－－－－－－－－－－线 样式－－－－－－－－－－－－－*/
.lineA{ border-bottom:1px dashed #cccccc}
.lineB{ border:1px solid #cccccc; overflow:hidden;}

/*－－－－－－－－－－－头条 样式－－－－－－－－－－－－－*/
.headline{ height:35px; line-height:35px; overflow:hidden; text-align:center}
.headline a{color: #EE5389; font-size:16px; font-weight:bold}
.headline a:hover{ color:#ff0000; text-decoration:underline}
.headline_desc{ text-indent:2em; color:#666666; line-height:150%; margin-bottom:10px;}
.headline_desc a{ color:#EE5389}
.headline_desc a:hover{ color:#ff0000}


/*－－－－－－－－－－－h3 样式－－－－－－－－－－－－－*/
.h3_a{ height:30px; line-height:30px; background:url(block_tou_30.gif) no-repeat; clear:both; overflow:hidden;}
.h3_a strong{ font-size:14px; padding-left:15px; color:#ffffff}
.h3_a strong a{ font-size:14px; color:#ffffff; text-decoration:none}
.h3_a strong a:hover{ font-size:14px; color:#FFFF00}
.h3_a span{ padding-right:10px;}
.h3_a span a{ font-weight:normal; color:#ff0000;}
.h3_a span a:hover{ font-weight:normal; font-weight:bold;}

.span_h3_a{ padding-top:5px;}

.h3_b{ height:30px; line-height:30px; background:url(tou2_bg.gif) no-repeat; overflow:hidden;}
.h3_b strong{ color:#cc0000; padding-left:30px; font-size:14px;}
.h3_b strong a{ color:#cc0000; font-size:14px;}
.h3_b span.right{ font-weight:normal; padding-right:10px;}
.h3_b span.right a{ color:#ff0000;}
.h3_b span.right a:hover{ color:#ff0000;}



/*－－－－－－－－－－－ul 列表行－－－－－－－－－－－－－*/
/*首页期刊推荐*/
ul.ul_a{ overflow:hidden; border:1px solid #F3CEAB; padding:10px 0 5px 15px; display:block}
ul.ul_a li{ width:154px; overflow:hidden; float:left; margin-right:15px;}
ul.ul_a li img{ width:150px; height:200px; border:1px solid #cccccc; padding:1px;}
ul.ul_a li a:hover{ text-decoration:none}
ul.ul_a li a:hover img{border:1px solid #ff0000; padding:1px;}
ul.ul_a li span{ height:30px; line-height:30px; text-align:center; overflow:hidden; display:block;}
/*普通文字列表*/
ul.ul_b{ overflow:hidden; border:1px solid #F3CEAB; padding:10px;}
ul.ul_b li{ height:24px; line-height:24px; overflow:hidden; padding-left:10px; background:url(36.gif) no-repeat 0 10px; font-size:12px; color:#555555}
ul.ul_b li a{ font-size:12px; color:#333333;}
ul.ul_b li a:hover{ font-size:12px; color:#ff0000}
/*普通文字列表2*/
ul.ul_c{ overflow:hidden; padding:10px 0;}
ul.ul_c li{ height:24px; line-height:24px; overflow:hidden; padding-left:10px; background:url(36.gif) no-repeat 0 10px; font-size:12px; color:#555555}
ul.ul_c li a{ font-size:12px; color:#333333;}
ul.ul_c li a:hover{ font-size:12px; color:#ff0000}


/*－－－－－－－－－－－div 盒子－－－－－－－－－－－－－*/
.DivBorder{ border-top:4px solid #000000; background:#F3F3F3}
.Div300{ border:1px solid #e2e2e2; border-top:4px solid #000000;}

/*－－－－－－－－－－－图片块－－－－－－－－－－－－－*/
.PicBlock_a{ overflow:hidden;}
.PicBlock_a .img{ width:40%; height:100px; float:left; overflow:hidden; margin-right:10px;}
.PicBlock_a .tit{ height:26px; line-height:26px; overflow:hidden; float:left; float:left;}
.PicBlock_a .desc{ width:55%; float:left; line-height:150%; color:#666666;}

/*－－－－－－－－－－－margin & padding－－－－－－－－－－－－－*/
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mr0{margin-right:0px;}
.p10{ padding:10px;}
.pt0{ padding-top:0;}
.p_l_r{ padding:0 10px;}
.pad5_10{ padding:5px 10px;}

/*－－－－－－－－－－－box－－－－－－－－－－－－－*/
.box1{ border:1px solid #F3CEAB;}



.position{ height:25px; overflow:hidden; background:url(pos_bg.gif) no-repeat 0 0; padding-left:20px; color:#555555; border-bottom:1px solid #BDCDDE}
.position strong{ font-size:14px; color:#cc0000; padding-left:25px;}

/*-导航条选项卡-*/
.tab_head{ overflow:hidden;}
.navlist .tab_head{font-size:14px; background:url(nav_head_bg.gif) repeat-x 0 0; border-left:1px solid #CC6400; border-right:1px solid #CC6400; padding:0 15px;}
.navlist .tab_head{ _width:928px;}
.navlist .tab_head ul li{ width:84px; height:38px; line-height:38px; float:left; text-align:center; cursor:pointer; font-size:14px; color:#ffffff;}
.navlist .tab_head .now{ background:url(nav_head_bg_hover.gif) no-repeat 0 0; font-weight:bold; line-height:40px; color:#ff0000;}
.navlist .tab_body ul{ display:none; padding:10px 15px 15px 15px; background:url(nav_body_bot.gif) no-repeat bottom}
.navlist .tab_body ul li a{ margin-right:5px; color:#000000; background:url(icon1.jpg) no-repeat 0 3px; padding-left:15px;}
.navlist .tab_body ul li a{_padding-left:10px;}
.navlist .tab_body ul li a:hover{ color:#FF0000;}
.navlist .tab_body .nohidden{ display:block}


.fenye{ height:30px; line-height:30px; overflow:hidden; padding:0 15px 10px 0; font-size:12px; color:#555555; margin-top:10px; text-align:center; clear:both;}
.fenye a{ border:1px solid #e2e2e2; background:#F7FBFF; padding:2px 6px; margin-right:8px;}
.fenye a:hover{ border:1px solid #BDCDDE; background:#ECF5FF; padding:2px 6px; text-decoration:none}

/*- 网站地图 -*/
.sitemap{ padding:15px 20px; padding-top:0; overflow:hidden;}
.sitemap a{ font-size:14px;}
.sitemap a:hover{ color:#ff0000}
	.sitemap h3{ line-height:30px; height:30px; overflow:hidden; border-bottom:1px solid #B6D3DB; margin-top:20px; clear:both;}
	.sitemap p{ background:#F7F7F7; padding:10px; line-height:150%; overflow:hidden;}
	.sitemap p span{ display:block; float:left;}
	.sitemap p span a{ font-size:12px; color:#555555;}













