{template 'special', 'header'}
<div class="zt_pos"><span class="left">当前位置：<a href="http://www.xueshuhao.com/" title="中华医护好网">首页</a> > <a href="zazhi/?id=50" title="《健康大视野》">《健康大视野》</a></span><span class="right"><font color="red">温馨提示：请按“Ctrl+D”收藏本页</font></span></div>	

<div class="clear mt10"></div>
{template 'special', 'left'}
<div class="zt_R_main">
<h3 class="zt_h3_1"><strong class="left"><a href="/index.php?m=special&c=index&a=category&specialid=<?php echo $specialid?>&typeid=57" title="杂志往期目录">《<?php echo $info[title]?>》杂志往期目录</a></strong><span class="right"><a href="/index.php?m=special&c=index&a=category&specialid=<?php echo $specialid?>&typeid=57" title="《<?php echo $info[title]?>》杂志往期目录">更多>></a></span></h3>
{pc:special action="content_list" specialid="$id" typeid="57" listorder="1" num="4"}
<ul class="ul_a" style="background:#FFFAF6; padding-left:35px">
{loop $data $r}
<li><a href="{$r['url']}" target="_blank" title="{$r['title']}"><img src="{$r['thumb']}" alt="{$r['title']}" /><span>{$r['title']}</span></a></li>
{/loop}
<div class="clear"></div>
</ul>
{/pc}
<h3 class="zt_h3_1 mt10"><strong><a href="/index.php?m=special&c=index&specialid=<?php echo $specialid?>&typeid=40" title="杂志介绍">杂志介绍</a></strong></h3>
<div class="m_intr">
<p><?php echo mb_substr($info[description],0,300,'UTF-8');?>……<a href="/index.php?m=special&c=index&specialid=<?php echo $specialid?>&typeid=40" title="杂志介绍">【详细内容】</a>
</div>
{template 'special', 'tgbd'}

</div>
<!--//zt_R_main-->
<div class="clear"></div>
{template 'special', 'footer'}