{template 'special', 'header'}
<div class="zt_pos"><span class="left">当前位置：<a href="http://www.xueshuhao.com/" title="中华医护好网">首页</a> > <a href="zazhi/?id=50" title="《健康大视野》">《健康大视野》</a> > <a href="zazhi/page.php?navid=291" title="主办单位">主办单位</a></span><span class="right"><font color="red">温馨提示：请按“Ctrl+D”收藏本页</font></span></div>	
<div class="clear mt10"></div>
{template 'special', 'left'}
<div class="zt_R_main">
<h3 class="zt_h3_1"><strong><a title="杂志介绍" href="zazhi/page.php?navid=290">《<?php echo $info[title]?>》杂志介绍</a></strong></h3>
<div class="m_intr"><p><?php echo $info[description]?></p></div>
{template 'special', 'tgbd'}
</div>

<!--//zt_R_main-->
<div class="clear"></div>
{template 'special', 'footer'}