{template "special","header"}
<div class="zt_pos"><span class="left">当前位置：<a href="http://www.xueshuhao.com/">首页</a> > <a href="zazhi/?id=50" title="《健康大视野》">《健康大视野》</a> > 54例病毒性心肌炎诊治体会</span><span class="right"><font color="red">温馨提示：请按“Ctrl+D”收藏本页</font></span></div>	
<div class="clear mt10"></div>
{template 'special', 'left'}
<div class="zt_R_main">
<h3 class="zt_h3_1"><strong>信息正文</strong></h3>
<div class="m_intr zt_article">
<h1 class="tit">54例病毒性心肌炎诊治体会</h1>
<h6 class="info">作者：李海艳　投稿/更新时间：2013-11-22 20:22　浏览次数：<span id="hits">0</span>次</h6>
<div class="con">
<h3 style="padding-left:25px; color:red">54例病毒性心肌炎诊治体会 稿件信息说明：</h3>
<p>【投稿论题】54例病毒性心肌炎诊治体会</p>
<p>【投稿作者】李海艳</p>
<p>【摘要】</p>
<p>【内容快照】<br>。。。。。。</p>
<p>【投稿日期】2013-11-22 20:22:11</p>
<p>【审稿意见】<font color="#0000FF">[已审稿]</font>……</p>

</div><!--//show-->
<ul class="updown">
		
<li>上一篇：<a href="show.php?contentid=16475">28例输液反应的原因及预防措施</a></Li>
<li>下一篇：<a href="show.php?contentid=16528">1dddddddddd</a></li>
</ul>
</div><!--//m_intr-->
</div>
<!--//zt_R_main-->
<div class="clear"></div>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&module=special-c-{$specialid}"></script>
{template "content","footer"}