{template "special","header"}
<div class="zt_pos"><span class="left">当前位置：<a href="/">首页</a> > <a href="<?php echo $info[url]?>" title=""><?php echo '《'.$info[title].'》'?></a> > {$title}</span><span class="right"><font color="red">温馨提示：请按“Ctrl+D”收藏本页</font></span></div>	
<div class="clear mt10"></div>
{template 'special', 'left'}
<div class="zt_R_main">
<h3 class="zt_h3_1"><strong>信息正文</strong></h3>
<div class="m_intr zt_article">
<h1 class="tit">{$title}</h1>
<h6 class="info">作者：{$writer}　投稿/更新时间：{$inputtime}　浏览次数：<span id="hits">0</span>次</h6>
<div class="con">
{$content}

</div><!--//show-->
<ul class="updown">
		
<li>上一篇：<a href="show.php?contentid=16475">28例输液反应的原因及预防措施</a></Li>
<li>下一篇：<a href="show.php?contentid=16528">1dddddddddd</a></li>
</ul>
</div><!--//m_intr-->
</div>
<!--//zt_R_main-->
<div class="clear"></div>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&module=special-c-{$specialid}"></script>
{template "special","footer"}