{template 'content', 'header'}

<div class="position">当前位置：<a href="./">首页</a> &gt; 搜索有关<font color="red">【{$search_q}】</font>的结果，共计<b red\""="" style="color=\">{$totalnums}</b>条</div>
	<div class="index_main">
<ul class="clearfix searchlist">
<div class="fenye">{$pages}</div>
{loop $data $i $r}
<li>
<h3><span class="left"><a target="_blank" href="{$r[url]}">{$r[title]}</span><span class="right">发布日期：{format::date($r[inputtime], 1)}</span></h3>
<p class="desc">{$r[description]}......<a title="" target="_blank" href="{$r[url]}">[详细&gt;&gt;]</a></p>
<div class="url">&nbsp;&nbsp;&nbsp;&nbsp;访问链接：<a target="_blank" href="{$r[url]}">{$r[url]}</a></div>
</li>
{/loop}
<div class="fenye">{$pages}</div>
</ul>
<!--//newslit-->
<div style="clear:both"></div>
</div>
{template 'content', 'footer'}
