{template "content","header"}
<div class="position">当前位置：<a href="./">首页</a> > <a href="/html/jiaoyu/">医学教育</a> &gt; </div>
<!--导航以上-->
<div class="index_main qikan">
<div class="index_left">
<div class="remen">
<h3 class="h3_b clear"><strong>推荐期刊</strong></h3>
<?php foreach($special_recommend as $k=>$r){?>
<div class="item <?php if($k>0 && ($k+1)%2==0) echo 'no';?>"><a href="<?php echo $r['url']?>" target="_blank" title=""><img src="<?php echo $r['thumb']?>" alt="" /><span><?php echo $r['title']?></span></a></div>
<?php }?>
</div>
<!--//remen-->
<div class="luyong">
<h3 class="h3_b clear"><strong>最近录用</strong></h3>
<div id="demo" style=" float:left; height:150px; display:inline; overflow:hidden;">
<div id="demo1">
{pc:special  action="content_list" typeid="53" status="1" order="listorder DESC" num="20"}
<ul class="ul_c" style="padding:0;">
{loop $data $r}
<li><a href="{$r['url']}" target="_blank" title="{$r['title']}">{$r['title']} <b>(作者：{$r['writer']})</b></a></li>
{/loop}
</ul>
{/pc} 
</div>
<div id="demo2"></div>
</div>
<script type="text/javascript">
var speed=40;
var ZJJDemo=document.getElementById('demo');
var ZJJDemo1=document.getElementById('demo1');
var ZJJDemo2=document.getElementById('demo2');
ZJJDemo2.innerHTML=ZJJDemo1.innerHTML;
function Marquee1(){
if(ZJJDemo2.offsetHeight-ZJJDemo.scrollTop<=0)
ZJJDemo.scrollTop-=ZJJDemo1.offsetHeight;
else{
ZJJDemo.scrollTop++
}
}
var MyMar1=setInterval(Marquee1,speed)
ZJJDemo.onmouseover=function() {
clearInterval(MyMar1);
}
ZJJDemo.onmouseout=function() {MyMar1=setInterval(Marquee1,speed)}
</script>
</div>
<!--//luyong-->
<div class="h15"></div>

<div class="lianxi"><p><a href="html/tougao/"><img width="250" height="100" src="/uploads/20130702153708zk7qsa.gif" alt="" /></a></p>
<p>&nbsp;</p>
<p>免费咨询热线：4006575136</p>
<p>&nbsp;</p>
<p>企业咨询QQ：800070250</p>
<p>&nbsp;</p>
<p>投稿邮箱：<a href="mailto:xsb@yihuhao.com">xsb@yihuhao.com</a></p>
</div>
</div>
<!--//index_left-->

<div class="index_right">
<div class="channel_r_block">
{pc:content  action="lists" catid="$catid" order="listorder ASC" }
{php $i=1;}
{loop subcat($catid) $k $v}
<div class="item {if $i%2==0}no{/if}">
<h3 class="h3_a"><strong class="left"><a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a></strong><span class="right"><a href="{$v['url']}" title="{$v['catname']}">更多>></a></span></h3>
<ul class="ul_b">
{pc:content action="lists" catid="$v[catid]"  order="id DESC"}
{loop $data $v}
<li><span class="left"><a href="{$v['url']}" target="_blank" title="{$v['title']}">{$v['title']}</a></span><span class="right"></span></li>
{/loop}
{/pc}
</ul>
</div>
{php $i++;}
{/loop}
{/pc}

<div class="h10"></div>
</div>
<!--//channel_r_block-->
</div>
<!--//index_right-->
<div style="clear:both"></div>
</div>
<!--//index_main-->
<div style="clear:both"></div>
{template "content","footer"}