<div class="footer">
<p class="foot_nav">
<a title="" href="./">网站首页</a> |
<?php foreach($menu as $k=>$r){?>
<a href="<?php echo $r['url']?>"><?php echo $r['catname']?></a> | 
<?php }?>
<a href="/index.php?m=formguide&c=index&a=show&formid=14">问答互动</a> | 
<a href="/index.php?m=content&c=index&a=lists&catid=3">联系我们</a> | 
<a href="/sitemap.html">网站地图</a>
</p>
{show_ad(1, 12)}
</div>
<!--//footer-->
<div class="links"><strong>友情链接：</strong>
{pc:link action="lists" typeid="0" siteid="$siteid" linktype="0" order="desc" num="10" return="dat"}
{loop $dat $v}
<a href="{$v[url]}" target="_blank" title="{$v[name]}">{$v[name]}</a>
{/loop}
{/pc}
</div>
<div class="clear"></div>
</div>
<!--//main-->


</html>