
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">

<script language="JavaScript" src="/statics/v1/js/config.js"></script>
<script language="JavaScript" src="/statics/v1/js/jquery.min.js"></script>
<script language="JavaScript" src="/statics/v1/js/common.js"></script>
<script language="JavaScript" src="/statics/v1/js/messageck.js"></script>

<link rel="stylesheet" type="text/css" href="/statics/v1/images/config.css" />
<link rel="stylesheet" type="text/css" href="/statics/v1/images/mystyle.css" />
 
<script type="text/javascript">
function tabbox(m,n)
{
var tbh = document.getElementById("tabhead" + m).getElementsByTagName("li");
var tbb = document.getElementById("tabbody" + m).getElementsByTagName("ul");
for(i=0;i<tbh.length;i++)
{
tbh[i].className = i==n ? "now" : "";
tbb[i].style.display = i==n ? "block" : "none";
}
}


// 设置为主页 
function SetHome(obj,vrl){ 
try{ 
obj.style.behavior='url(#default#homepage)';obj.setHomePage(vrl); 
} 
catch(e){ 
if(window.netscape) { 
try { 
netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect"); 
} 
catch (e) { 
alert("此操作被浏览器拒绝！请在浏览器地址栏输入“about:config”并回车然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。"); 
} 
var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch); 
prefs.setCharPref('browser.startup.homepage',vrl); 
}else{ 
alert("您的浏览器不支持，请按照下面步骤操作：1.打开浏览器设置。2.点击设置网页。3.输入："+vrl+"点击确定。"); 
} 
} 
} 
// 加入收藏 兼容360和IE6 
function shoucang(sTitle,sURL) 
{ 
try 
{ 
window.external.addFavorite(sURL, sTitle); 
} 
catch (e) 
{ 
try 
{ 
window.sidebar.addPanel(sTitle, sURL, ""); 
} 
catch (e) 
{ 
alert("加入收藏失败，请使用Ctrl+D进行收藏!"); 
} 
} 
}
</script>
</head>
<body>
<div class="w960 main">
<div class="logopart">
<p><a href="javascript:void(0)" onclick="shoucang('中华医护好网','/')">收藏本站</a><a href="javascript:void(0)" onclick="SetHome(this,window.location)">设为首页</a><a href="/sitemap.html">网站地图</a></p>
</div>
<!--//logopart-->
<?php 
//导航
$ob_category = pc_base::load_model('category_model');
$CATEGORYS = getcache('category_content_1','commons');
$menuname = array('晋级政策','医学期刊','专科文献','医学教育','医学新知','医护下载','在线投稿','学术会议');
$menu  = array();
foreach($CATEGORYS as $k => $r){
	if(!in_array($r['catname'],$menuname)) continue;
	if($r['catid']==16) $r['url'] = '/index.php?m=special&c=index&specialid=1&typeid=44';
	$arrchildid = explode(',',$r['arrchildid']);
	foreach($arrchildid as $i=>$v){
		if($v==$r['catid']) continue;
		$row = $ob_category->get_one(array('catid'=>$v));	
		
		$r['sub_cat'][] = array('catname'=>$row['catname'],'url'=>$row['url']);									
	}						 
	$menu[] = $r;
}
?>




<div class="navlist">
<div id="tabhead1" class="tab_head">
<ul>
<li onmouseover="tabbox(1,0)" class="now"><a href="./">网站首页</a></li>

<?php $i=1;foreach($menu as $k=>$r){?>
<li onmouseover="tabbox(1,<?php echo $i;?>)"><a href="<?php echo $r['url']?>"><?php echo $r['catname']?></a></li>
<?php $i++;}?>
<li onmouseover="tabbox(1,9)"><a href="/index.php?m=formguide&c=index&a=show&formid=14">问答互动</a></li>
<li onmouseover="tabbox(1,10)"><a href="/index.php?m=content&c=index&a=lists&catid=3">联系我们</a></li>

</ul>
</div>
<div id="tabbody1" class="tab_body">
<ul class="nohidden">
<li>欢迎您访问<strong>中华医护好网</strong>，中华医护好网是目前中国最大的医学、医疗综合服务提供商之一~</li>
</ul>


<?php foreach($menu as $k=>$r){?>
<ul>
<li>
<?php echo $r['description']?>
<?php foreach($r['sub_cat'] as $i=>$v){?>
<a href="<?php echo $v['url']?>" title="<?php echo $v['catname']?>"><?php echo $v['catname']?></a>
<?php }?>
</li>
</ul>
<?php }?>

<ul>
<li>您可以与我们进行留言问答动动，将您的疑问在线反馈给我们，我们会尽快给您回复！</li>
</ul>
<ul>
<li>您可以通过本页的联系方式与我们取得联系！</li>
</ul>

</div>
<div class="clear"></div>
</div>
<!--//navlist-->
<div class="navad">
<A href="http://www.douban.com" target=_blank><IMG border=0 alt="" src="/statics/v1/images/20130823034922347.jpg"></A>
</div>
<div class="search clear">
            <form action="{APP_PATH}index.php" method="get" target="_blank">
				<input type="hidden" name="m" value="search"/>
				<input type="hidden" name="c" value="index"/>
				<input type="hidden" name="a" value="init"/>
				<input type="hidden" name="typeid" value="1" id="typeid"/>
				<input type="hidden" name="siteid" value="1" id="siteid"/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="10%">
<select name="classid" class="text" style=" padding-top:3px;">
<option value="13"  >期刊杂志</option>
<option value="113"  >投稿论文</option>
<option value="34"  >晋级政策</option>
<option value="63"  >专科文献</option>
<option value="78"  >医学教育</option>
<option value="89"  >医学新知</option>
<option value="103"  >医护下载</option>
<option value="108"  >学术会议</option>
<option value="111"  ></option>
</select>
</td>
<td width="37%"><input name="q" id="keyword" type="text" class="text" onFocus="if (value =='请输入关键字'){value =''}" onBlur="if (value ==''){value='请输入关键字'}" value="请输入关键字" size="50" maxlength="20" /></td>
<td width="11%"><input type="image" onclick="document.formName.submit()" src="/statics/v1/images/sear_button.gif"></td>
<td>热门搜索：</td>
</tr>
</table>
</form>
</div>
<!--//search-->


