

{template "content","header"}

<div class="focus">
{show_ad(1, 11)}
</div>


<!--main-->
<div class="index_main">
<div class="index_left">
<div class="zixun">
<p class="mes"><a href="/index.php?m=formguide&c=index&a=show&formid=14" title="留言互动"></a></p>
</div>
<!--//zixun-->
<div class="new">
<h3 class="h3_b"><strong>最近更新</strong></h3>
{pc:special  action="content_list"  order="listorder DESC" num="12"}
<ul class="ul_c">
{loop $data $r}
<li>({date('m-d',$r[inputtime])})&nbsp;<a href="{$r['url']}" target="_blank" title="">{str_cut($r['title'], 50)}</a></li>
{if $n%4==0}<li class="h10"></li>{/if}
{/loop}
</ul>
{/pc} 
</div>
<!--//new-->
<div class="lianxi">{show_ad(1, 13)}
</div>
<!--//lianxi-->
<div class="luyong">
<h3 class="h3_b"><strong>最近录用</strong></h3>
<div id="demo">
<div id="demo1">
{pc:special  action="content_list" typeid="53" status="1" order="listorder DESC" num="20"}
<ul class="ul_c" style="padding:0;">
{loop $data $r}
<li><a href="{$r['url']}" target="_blank" title="{$r['title']}">{$r['title']} <b>(作者：{$r['writer']})</b></a></li>
{/loop}
</ul>
{/pc} 
</div>
<div id="demo2"></div>
</div>
<script type="text/javascript">
var speed=40;
var ZJJDemo=document.getElementById('demo');
var ZJJDemo1=document.getElementById('demo1');
var ZJJDemo2=document.getElementById('demo2');
ZJJDemo2.innerHTML=ZJJDemo1.innerHTML;
function Marquee1(){
if(ZJJDemo2.offsetHeight-ZJJDemo.scrollTop<=0)
ZJJDemo.scrollTop-=ZJJDemo1.offsetHeight;
else{
ZJJDemo.scrollTop++
}
}
var MyMar1=setInterval(Marquee1,speed)
ZJJDemo.onmouseover=function() {
clearInterval(MyMar1);
}
ZJJDemo.onmouseout=function() {MyMar1=setInterval(Marquee1,speed)}
</script>
</div>
<!--//luyong-->
<div class="h15"></div>
<div class="remen">
<h3 class="h3_b clear"><strong>热门期刊</strong></h3>
<?php foreach($special_hot as $k=>$r){?>
<div class="item <?php if($k%2!=0) echo 'no';?>"><a href="<?php echo $r['url']?>" target="_blank" title="<?php echo $r['title']?>"><img src="<?php echo $r['thumb']?>" alt="" /><span><?php echo $r['title']?></span></a></div>
<?php }?>
</div>
<!--//remen-->
</div>
<!--//index_left-->
<div class="index_right">
<h3 class="h3_a"><strong class="left">期刊推荐</strong></h3>

<ul class="ul_a" style=" height:237px; background:#FFFAF6">
<?php foreach($special_recommend as $k=>$r){?>
<li><a href="<?php echo $r['url']?>" target="_blank" title="<?php echo $r['title']?>"><img src="<?php echo $r['thumb']?>" alt="" /><span><?php echo $r['title']?></span></a></li>
<?php }?>
<div class="clear"></div>
</ul>
<div class="indexRblock left">

<?php foreach($qk_category_data as $k=>$r){?>
<div class="item <?php if(($k+1)%3==0 && $k>0) echo 'no';?>">
<h3 class="h3_a"><strong class="left"><a href="<?php echo $r['source']['url']?>"><?php echo $r['source']['catname']?></a></strong><span class="right span_h3_a"><a href="/index.php?m=special&c=index&specialid=1&typeid=44" title="在线投稿" target="_blank"><img src="/statics/v1/images/tougao_b1.gif" alt="在线投稿" /></a></span></h3>
<ul class="ul_b">
<?php foreach($r['special_list'] as $i=>$v){?>
<li><a href="<?php echo 'index.php?m=special&c=index&specialid='.$v['id'].'&typeid=42';?>" target="_blank" title=""><?php echo $v['title']?>在线投稿</a></li>
<?php }?>
</ul>
</div>
<?php }?>
</div>
<!--//indexRblock-->
<div class="h10"></div>
<div class="indexTui">
<div class="tou"><strong class="left">学术杂志推荐</strong><span class="right">优质学术杂志精选，助您进一步深入认识行业杂志！</span></div>
<div class="tab">
<div id="tabhead2" class="tab_head_t">
<ul>
<?php foreach($qk_category as $k=>$r){?>
<li onmouseover="tabbox(2,<?php echo $k?>)" <?php if($k==0){?>class="now"<?php }?>><a href="<?php echo $r['url'];?>"><?php echo $r['catname']?></a></li>
<?php }?>
</ul>
</div>
<div id="tabbody2" class="tab_body_t">
<?php foreach($qk_category_recommend_data as $k=>$r){?>
<ul <?php if($k==0){?>class="nohidden"<?php }?>>
<?php foreach($r['special_list'] as $i=>$v){?>
<li <?php if(($k+1)%4==0 && $k>0) echo 'no';?>><a href="<?php echo $v['url']?>" title="<?php echo $v['title']?>" target="_blank"><img src="<?php echo $v['thumb']?>" alt="" /></a> <span class="title"><a href="<?php echo $v['url']?>" title="<?php echo $v['title']?>" target="_blank"><?php echo $v['title']?></a></span> <span>主管：<?php echo $v['zgdw']?></span> <span>CN：<?php echo $v['gnkh']?></span> </li>
<?php }?>
</ul>
<?php }?>
</div><!--//tab_body_t-->
<div class="clear"></div>
</div>
<!--//tab-->
</div>
<!--//indexTui-->
</div>
<!--//index_right-->
<div style="clear:both"></div>
</div>
<!--//index_main-->
<div class="mt10"></div>
<div class="w980 index_two">
<div class="two_left">
<h3 class="h3_b"><strong class="left"><a href="/index.php?m=special&c=index&specialid=1&typeid=44" title="在线投稿">在线投稿</a></strong><span class="right span_h3_a" style="padding-right:10px;"><a href="/index.php?m=special&c=index&specialid=1&typeid=44" title="在线投稿"><img src="/statics/v1/images/tougao_b2.gif" alt="在线投稿" /></a></span></h3>
{pc:special  action="content_list" typeid="53"  order="listorder DESC" num="20"}
<ul class="ul_c clearfix">
{loop $data $r}
<li>
{if $r['status']==0}<font color="blue">[待审搞]</font>{else}<font color="red">[已审搞]</font>{/if}<a href="{$r['url']}" target="_blank" title="{$r['title']}">{$r['title']}</a>
</li>
{/loop}
{if $n%5==0}<li class="h10"></li>{/if}

</ul>
{/pc}
</div>
<!--//two_left-->
<div class="two_right">
<div class="indexRblock left">

{php $i=1;}
{pc:content action="lists" catid="14"  order="listorder ASC" num="6"}
{loop subcat(14) $k $v}
{php if($i>6) continue}
<div class="item {if $i%3==0}no{/if}">
<h3 class="h3_a"><strong class="left"><a href="{$v['url']}">{$v['catname']}</a></strong><span class="right"><a href="{$v['url']}">更多>></a></span></h3>
<ul class="ul_b clearfix">
{pc:content action="lists" catid="$v[catid]"  order="id DESC"}
{loop $data $v}
<li><a href="{$v['url']}" target="_blank" title="{$v['title']}">{$v['title']}</a></li>
{/loop}
{/pc}
</ul>
</div>
{php $i++;}
{/loop}
{/pc}


</div>
<!--//indexRblock-->
</div>
<!--//two_right-->
</div>
<!--//index_two-->
<div style="clear:both"></div>
{template "content","footer"}