{template "content","header"}
<!--main-->
<div class="position">当前位置：<a href="./">首页</a> > {catpos($catid)}  </div>
<!--导航以上-->
<div class="index_main">
{template "content","left_list"}
<div class="index_right">
<h3 class="h3_b"><strong>{$catname}</strong></h3>
{pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
<ul class="box1 newslit">
{loop $data $r}
<li><span class="left"><a href="{$r[url]}" target="_blank" title="{$r[title]}">{$r[title]}</a></span><span class="right">{date('Y-m-d',$r[inputtime])}</span></li>
{if $n%5==0}<li class="line"></li>{/if}
{/loop}

<li class="fenye">{$pages}</li>
</ul>
{/pc}
<!--//newslit-->
</div>
<!--//index_right-->
<div style="clear:both"></div>
</div>
<!--//index_main-->
<div style="clear:both"></div>

{template "content","footer"}